<!DOCTYPE html>
<html>
<head>
  <title>Add Recipe</title>
  <link rel="stylesheet" href="../styles/allergySubmitStyle.css">
</head>
<body>
  <div id="header">
    <h1> Submit a New Allergy </h1>
  </div>
  <div class="container">
      <form method="post" action="/thanks">
          <h1 align="center">Allergen:</h1>
          <center><input type="text" class = "allergyStuff" name="allergen" placeholder="ex: Red Meat">
          <br>
          <h1 align="center">Symptoms:</h1>
          <input type="text" class = "allergyStuff" name="symptoms" placeholder="ex: Rashes, Dizziness, Coughing">
          <br>
          <h1 align="center">Common Products to Avoid:<h1>
          <input type="text" class = "allergyStuff" name="toAvoid" placeholder="ex: Barbecue, Steak">
          <br>
          <h1 align="center">Image:</h1>
          <input type="text" class = "allergyStuff" name="allergenImg" placeholder="Image Link">
          <br>
          <input type="submit" class="container" placeholder="Submit New Allergy!">
          <input type="text" class = "submitType" name="submission" value="allergy">
      </form>
  </div>
</body>
</html>
