<!--welcome.html-->
<!DOCTYPE html>
<html>
<head>
  <title> Add Recipe</title>
  <link rel="stylesheet" href="../styles/allergySubmitStyle.css">
</head>
<body>
  <div id="header">
  <h1>Submit a new Allergy</h1>
</div>
<form method="post" action="/">
  Allergen:<br>
  <input type="text" class = "allergyStuff" name="allergenName" value="ie: Red Meat">
  <br>
  Symptoms:<br>
  <input type="text" class = "allergyStuff" name="allergySymptoms" value="ie: Rashes, Dizziness, Coughing">
  <br>
  Common Products to Avoid:<br>
  <input type="text" class = "allergyStuff" name="ingredients" value="ie: Barbecue, Steak">
  <br>
  Image:<br>
  <input type="text" class = "allergyStuff" name="allergenImg" value="image address">
  <br>
  <input type="submit" value="Submit New Allergy!">
  </form>
</body>
</html>
