<!DOCTYPE html>
<html>
<head>
  <title>General Information</title>
  <link rel="stylesheet" href="../styles/genInfoStyle.css">
</head>
<body>
  <div id="header">
    <h1>General Information </h1>
    <div class="search">
      <form action="/allergyInfo?allergyName={{allergyName}}">
        <input type="text" placeholder="Search..." name="allergyName">
        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="homeButton">
      <a href="/">
        <button> Home </button>
      </a>
    </div>
  </div>
  <div id="body">
    <p class="spiel"> Food allergy is a serious and potentially life-threatening medical condition affecting up to 15 million Americans. One in every 13 children has a food allergy—that’s about 2 in every U.S. classroom. And every 3 minutes, a food allergy reaction sends someone to the emergency room.

    <h3 align="center">What Causes a Food Allergy? </h3>
      <ul>
        <li>The job of the body’s immune system is to identify and destroy germs (such as bacteria or viruses) that make you sick. A food allergy happens when your immune system overreacts to a harmless food protein—an allergen. </li>
        <li>In the U.S., the eight most common food allergens are milk, egg, peanut, tree nuts, soy, wheat, fish and shellfish. </li>
        <li>Family history appears to play a role in whether someone develops a food allergy. If you have other kinds of allergic reactions, like eczema or hay fever, you have a greater risk of food allergy. This is also true of asthma. </li>
        <li>Food allergies are not the same as food intolerances, and food allergy symptoms overlap with symptoms of other medical conditions. It is therefore important to have your food allergy confirmed by an appropriate evaluation with an allergist. </li>
      </ul>

    <h3 align="center">Food Allergies Are Serious </h3>
      <ul>
        <li>Food allergy may occur in response to any food, and some people are allergic to more than one food. Food allergies may start in childhood or as an adult. </li>
        <li>All food allergies have one thing in common: They are potentially serious. Always take food allergies—and the people who live with them—seriously. </li>
        <li>Food allergy reactions can vary unpredictably from mild to severe. Mild food allergy reactions may involve only a few hives or minor abdominal pain, though some food allergy reactions progress to severe anaphylaxis with low blood pressure and loss of consciousness. </li>
      </ul>

    <h3>FAQs</h3>
      <h4>What is a food allergy?</h4>
        <p> A food allergy reaction occurs when your immune system overreacts to a food or a substance in a food, identifying it as a danger and triggering a protective response.<p>
      <h4>What are symptoms of a food allergy?</h4>
        <p>Symptoms of an allergic reaction may involve the skin, the gastrointestinal tract, the cardiovascular system and the respiratory tract. They can surface in one or more of the following ways:<p>
        <ul>
          <li>Vomiting and/or stomach cramps</li>
          <li>Hives</li>
          <li>Shortness of breath</li>
          <li>Wheezing</li>
          <li>Repetitive cough</li>
          <li>Shock or circulatory collapse</li>
          <li>Tight, hoarse throat; trouble swallowing</li>
          <li>Swelling of the tongue, affecting the ability to talk or breathe</li>
          <li>Weak pulse</li>
          <li>Pale or blue coloring of skin</li>
          <li>Dizziness or feeling faint</li>
          <li>Anaphylaxis, a potentially life-threatening reaction that can impair breathing and send the body into shock; reactions may simultaneously affect different parts of the body (for example, a stomachache accompanied by a rash)</li>
        </ul>
      <h4>What can I eat?</h4>
        <p> One can generally eat things that do not include the allergen, but just to be safe, it is better to always err on the side of caution and look through the ingredients of anything you may put into your mouth.
        Although a product may not include the allergn, it may have been processed in a facility where allergens are handled and cross-contamination could have occured, or derivatives of an allergen,
        such as oils or flavourings could also be present inside foods.<p>
      <h4>Am I going to die?</h4>
        <p> Allergies are usually not life-threatening, but in the case where one of the symptoms is anaphylaxis, the best thing to do is always carry an Epi-pen and to be cautious in how you interact with food.<p>

    <h3> Other Questions </h3>
    <p id = "type"> Have a question? </p>
    <form id="questionForm" method="post" action="/genInfo">
      <input type="text" class = "askQuestion" name="userQuestion" value="">
      <br>
      <input type="submit" value="Submit Question">
    </form>
    {% for question in questionsDatabase %}
      <div class = "row">
        <div class="qA">
          <h4 class="postQuestion"> {{question.question}} </h4>
          <div class="scroll">
          {% for i in range(question.answers|length) %}
            <p class="answer"> {{question.answerNames[i]}} says: {{question.answers[i]}}</p>
          {% endfor %}
          </div>
        </div>
        <div class="submitAnswer">
          <form class="submitAnswer" method="post" action="/genInfo">
            <input type="text" class = "question" name="questionKey" value="{{question.question}}">
            <br>
            <p id = "type"> Have an Answer?</p>
            <input type="text" class = "answer" name="answer" value="">
            <p id = "type"> Name: </p>
            <input type="text" class = "answer" name="answerName" value="">
            <br>
            <input type="submit" value="Submit Answer">
          </form>
        </div>
      </div>
    {% endfor %}
  </div>
</body>
</html>
