<!--welcome.html-->
<!DOCTYPE html>
<html>
<head>
  <title> Add Recipe </title>
  <link rel="stylesheet" href="../styles/recipeSubmitStyles.css">
</head>
<body>
  <h1> Recipe Submission </h1>
  <form method="post" action="/memeresult">
    Recipe Title:<br>
    <input type="text" class = "recipeStuff" name="recipeTitle" value="ex: mac and cheese">
    <br>
    Excluded Allergens:<br>
    <input type="text" class = "recipeStuff" name="allergens" value="ex: milk; fish">
    <br>
    Ingredients:<br>
    <input id="ingredients" type="text" class = "recipeStuff" name="ingredients" value="ex: eggs; chicken">
    <br>
    Other Tags:<br>
    <input type="text" class = "recipeStuff" name="allergens" value="ex: milk">
    <br>
    Steps:<br>
    <textarea rows="4" cols="50" class = "recipeStuff" > ex: Step 1: Boil pasta.; Step 2: Eat food. </textarea>
    </form>
  </body>
  </html>
