<!DOCTYPE html>
<html>
<head>
  <title>Your Recipe</title>
  <link rel="stylesheet" href="../styles/recipe.css">
</head>
<body>
  <div class="search">
    <form action="/action_page.php">
      <input type="text" placeholder="Search..." name="allergyName">
      <button type="submit">Submit</button>
    </form>
  </div>
  <div id="header">
  <h1>Recipe Page</h1>
</div>
<h2>Title</h2>
<p>{{}}</p>
<h2>Excluded Allergens</h2>
<p>{{}}</p>
<h2>Ingredients</h2>
<p>{{}}</p>
<h2>Other Tags</h2>
<p>{{}}</p>
<h2>Steps</h2>
<p>{{}}</p>
</body>
</html>
