<!--welcome.html-->
<!DOCTYPE html>
<html>
<head>
  <title> Add Recipe</title>
  <link rel="stylesheet" href="../styles/recipeSubmit.css">
</head>
<body>
  <h1>Recipe Submission</h1>
  <form method="post" action="/memeresult">
    Recipe Title:<br>
    <input type="text" name="recipeTitle" value="ie: Mac and Cheese">
    <br>
    Excluded Allergens:<br>
    <input type="text" name="allergens" value="ie: Milk">
    <br>
    Meme Type:<b>
      <input type="text" name="ingredients" value="ie: eggs, chicken"
      <br>
       
    </form>
  </body>
  </html>
