<!DOCTYPE html>
<html>
<head>
  <title>Your Recipe</title>
  <link rel="stylesheet" href="../styles/recipe.css">
</head>
<body>
  <div id="header">
    <h1>Recipe Page</h1>
    <div class="search">
      <form action="/allergyInfo?allergyName={{allergyName}}">
        <input type="text" placeholder="Allergy Search..." name="allergyName">
        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="homeButton">
      <a href="/">
        <button> Home </button>
      </a>
    </div>
  </div>
  <h2 align="center">Title</h2>
    <p align="center">{{title}}</p>
  <h2 align="center">Excluded Allergen</h2>
    <p align="center">{{allergenFree}}</p>
  <h2 align="center">Other Tags</h2>
      {% for otherTag in otherTags}
        <p>{{otherTag}}</p>
      {% endfor %}
    <!-- <p align="center">{{otherTags}}</p> -->
  <h2 align="center">Ingredients</h2>
    {% for ingredient in ingredients}
      <p>{{ingredient}}</p>
    {% endfor %}
    <!-- <p align="center">{{ingredients}}</p> -->
  <h2 align="center">Steps</h2>
    {% for step in steps}
      <p>{{steps}}</p>
    {% endfor %}
    <!-- <p align="center">{{steps}}</p> -->
  <a href="/allergyInfo?allergyName={{allergenFree}}">
    <input type="button" class="back" value="Back">
    <input type="text" class="submitType" name="allergyName" value={{allergenFree}}>
  </a>
</body>
</html>
