body {
  background-color: lightblue;
}
#header {
  color: white;
  background-color: gray;
  height: 50px;
  text-align: center;
  margin-top:-25px;
}
input {
    width: 10%;
    /* padding: 12px 20px; */
    margin: 8px 0;
    box-sizing: border-box;
}

form{
  
}
