html {
  overflow-y: scroll;
}

body {
  background-color: lightblue;
  margin: 0px;
  color: #6F4E37
}
#header {
  color: white;
  background-color: #6F4E37;
  height: 50px;
  text-align: center;
  margin-top:-25px;
}

.row {
    display: flex;
}

#left {
  flex: 66%;
  height: 800px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #6F4E37
}

#up {
  flex: 2;
}

#down {
  flex: 1;
  overflow: visible;
  overflow-y: auto;
}

#right {
  flex: 33%;
  margin-right: 20px;
}

.scroll{
  height: auto;
  overflow: visible;
  overflow-y: auto;
}

#apiScroll{
   margin-top: 100px;
}

 h2, h3, p{
  text-align: center;

}
h2{
  text-shadow: 2px 2px white;
}

input{
  margin-bottom:25px
}
