body {
  background-color: lightblue;
  color: #6F4E37
}
#header {
  color: white;
  background-color: #6F4E37;
  height: 50px;
  text-align: center;
  margin-top:-25px;
}
input {
    width: 15%;
    /* padding: 12px 20px; */
    margin: 8px 0;
    box-sizing: border-box;
}

/* form{

} */

#submission {
  visibility: hidden;
}
