html {
  overflow-y: scroll;
}
body {
  background-image: url("http://adwallpapers.xyz/uploads/posts/1404-light-brown-wooden-cutting-board-plank-wood-texture.jpg");
  background-size: 600px;
  margin: 0px;
  color: #6F4E37;
}

#body {
  padding-left: 10px;
}

#header {
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #6F4E37;
  height: 50px;
  text-align: center;
}

p {
  margin: 0px;
  text-align: center;
}


h1 {
  margin: 0;
}
.search {
    text-align: center;
    position: absolute;
    top: 32px;
    right: 20px;
}

.homeButton {
    text-align: left;
    position: absolute;
    top: 32px;
    left: 20px;
}
.spiel  {
  font-style: italic;
  font-size: 26px;
}

h2{
  text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.type{
text-align: center;
}

#questionForm{
  text-align: center;
}

.qA, .submitAnswer{
  width: 70%;
}

.submitAnswer{
  text-align: center;
}

h3{
  text-shadow: 2px 2px white;
  text-align: center;
}

.indent{
   text-indent: 50px;
}

.askQuestion{
  width: 30%;
}

.question{
  visibility: hidden;
}

.scroll{
  overflow: visible;
  overflow-y: auto;
  height: 100px;
  padding-left: 20px;
}

.answer{
  text-align: center;
  text-indent: 5%;
  width: 200px;
}

.answers{
  text-align: left;
  margin-left: 20px;
  text-indent: -20px;
  padding: 3px;
}

.genInfo {
  text-align: left;
  font-size: 16px;
}

.postQuestion{
  padding: 0px;
  margin: 5px;
}
