html {
  overflow-y: scroll;
}
body {
  background-color: lightblue;
  color: #6F4E37;
  margin: 0;
  padding-left: 10px;
}
#header {
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-left: 0px;
  padding: 15px;
  background-color: #6F4E37;
  height: 50px;
  text-align: center;
}

h1 {
  margin: 0;
}
.search {
    text-align: right;
    position: absolute;
    top: 32px;
    right: 20px;
}

.homeButton {
    text-align: left;
    position: absolute;
    top: 32px;
    left: 20px;
}
.spiel  {
  font-style: italic;
}

h2{
  text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.qA, .submitAnswer{
  width: 50%;
  padding-left: 10px;
}

.submitAnswer{
  text-align: center;
}

/* #left {
  flex: 1;
  height: 800px;
  border-right: 1px solid #6F4E37;
  align-content: center;
  text-align: center;
}

#right {
  flex: 1;
  margin-right: 20px;
  align-content: center;
  text-align: center;
} */

h3{
  text-shadow: 2px 2px white;
  text-align: center;
}

.indent{
   text-indent: 50px;
}

.question{
  visibility: hidden;
}

.scroll{
  overflow: visible;
  overflow-y: auto;
  height: 100px;
}

.answer{
  text-indent: 5%;
}
