body {
  background-color: lightblue;
  color: #6F4E37;

}
#header {
  color: white;
  background-color: gray;
  height: 50px;
  text-align: center;
  margin-top:-25px;
}

.spiel  {
  font-style: italic;
}

h2{
  text-align: center;
}

h3{
  text-shadow: 2px 2px white;
}

.indent{
   text-indent: 50px;
}
