body {
  background-color: lightblue;
  margin: 0px;
  color: #6F4E37
}
#header {
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color:#6F4E37;
  height: 50px;
  text-align: center;
}

.login-message,
.login-form {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  left: 30px;
  padding: 6px 15px;
  position: absolute;
  top: 30px;
}

.login-message {
  padding: 6px 15px;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.login-form *:not(:first-child) {
  margin-top: 10px;
}

.login-form input {
  box-sizing: border-box;
  width: 150px;
}

.login-form input:first-child {
  margin-top: 0;
}

.login-form a {
  font-size: smaller;
}
