body {
  background-color: lightblue;
}
#header {
  color: white;
  background-color: gray;
  height: 50px;
  text-align: center;
  margin-top:-25px;
}

body {
  body {
    margin: 0px;
    background-color: orange;
  }
}
input {
  width: 15%;
  /* padding: 12px 20px; */
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  width: 30%;
  /* padding: 12px 20px; */
  margin: 8px 0;
  box-sizing: border-box;
}

#allergyTitle {
  visibility: hidden;
}

#submission {
  visibility: hidden;
}
