body {
  background-color: lightblue;
  margin: 0px;
}
#header {
    color: white;
    justify-content: center;
    background-color: gray;
    display: flex;
    align-items: center;
    padding: 15px;
    text-align: center;
}

h1 {
  margin: 0;
}
a:visited, a:link, a:active
{
    text-decoration: none;
    color: white;
}
a:hover {
  color: white;
}
.button {
    color: gray;
    text-align: center;
    text-decoration: none;
}
.search {
    text-align: right;
    position: absolute;
    top: 25px;
    right: 15px;
}
.wrap {
    width: 100%;
}
