body {
  background-image: url("http://adwallpapers.xyz/uploads/posts/1404-light-brown-wooden-cutting-board-plank-wood-texture.jpg");
  background-size: 600px;
  margin: 0px;
  color: #6F4E37;
  text-align: center;
}

#header {
  color: white;
  background-color: #6F4E37;
  height: 50px;
  text-align: center;
  /* margin-top:-25px; */
  margin-top:0px;
}

.button{
  margin-top: 200px;
}
