body {
  background-color: lightblue;
  color: #6F4E37;
  text-align: center;
}
#header {
  color: white;
  background-color: #6F4E37;
  height: 50px;
  text-align: center;
  /* margin-top:-25px; */
  margin-top:0px;
}

.button{
  margin-top: 200px;
}
