body {
  background-image: url("http://adwallpapers.xyz/uploads/posts/1404-light-brown-wooden-cutting-board-plank-wood-texture.jpg");
  background-size: 600px;
  margin: 0px;
  color: #6F4E37;
}
#header {
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color:#6F4E37;
  height: 50px;
  text-align: center;
}
.search {
    text-align: right;
    position: absolute;
    top: 32px;
    right: 20px;
}
h1 {
  margin: 0;
}
a:visited, a:link, a:active
{
    text-decoration: none;
    color: white;
}
a:hover {
  color: white;
}
.button {
    color: #6F4E37;
    text-align: center;
    text-decoration: none;
     cursor: pointer;
}
.search {
    text-align: right;
}
.search2 {
    text-align: right;
}
.wrap {
    width: 100%;
}
#row1 {
  /* display: flex; */
  /* insert the necessery property */;
  align-content: space-around;
  justify-content: center;
}

img {
  /* Insert the general styling that will apply to ALL images */
  height: 300px;
  width: 350px;
}

.pictures{
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#row1 {
  flex: 1 1 auto;
}
