body {
  background-color: lightblue;
  margin: 0px;
}
#header {
  color: white;
  background-color: gray;
  height: 50px;
  text-align: center;
  margin-top:-25px;
}
a:visited, a:link, a:active
{
    text-decoration: none;
    color: white;
}
a:hover {
  color: white;
}
.button {
    color: gray;
    text-align: center;
    text-decoration: none;
}
.search {
    text-align: right;
}
.search2 {
    text-align: right;
}
.wrap {
    width: 100%;
}
#row1 {
  display: flex;
  /* insert the necessery property */;
  align-content: space-between;
  justify-content: center;
}
#row2 {
  display: flex;
  align-content: space-between;
  justify-content: center;
}

.pic {
  /* Insert the general styling that will apply to ALL images */
  height:
}

#m1 {
  flex: 1 1 auto;
  /* Finish the flex property for this image */;
}

#m2 {
  flex: 1 1 auto;
  /* Finish the flex property for this image */;
}

#m3 {
  flex: 1 1 auto;
  /* Finish the flex property for this image */;
}
